datapipeline/DataConsume_InsertToInflux.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>a5a1a88c-0174-1000-12aa-6b97aea79775</groupId>
    <name>DataConsume_InsertToInflux</name>
    <snippet>
        <connections>
            <id>8f3a24d2-04e5-3265-0000-000000000000</id>
            <parentGroupId>1d2b4c3a-a06e-3b10-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1d2b4c3a-a06e-3b10-0000-000000000000</groupId>
                <id>bf4330e0-1a03-3a40-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Message</selectedRelationships>
            <source>
                <groupId>1d2b4c3a-a06e-3b10-0000-000000000000</groupId>
                <id>8796ef78-bc86-3081-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>cda16eba-179f-37d2-0000-000000000000</id>
            <parentGroupId>1d2b4c3a-a06e-3b10-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1d2b4c3a-a06e-3b10-0000-000000000000</groupId>
                <id>8627d0f8-51cb-3371-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>matched</selectedRelationships>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>1d2b4c3a-a06e-3b10-0000-000000000000</groupId>
                <id>bf4330e0-1a03-3a40-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f0d9cd78-ba4d-33df-0000-000000000000</id>
            <parentGroupId>1d2b4c3a-a06e-3b10-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1d2b4c3a-a06e-3b10-0000-000000000000</groupId>
                <id>922970e4-abf7-3987-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>matched</selectedRelationships>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>1d2b4c3a-a06e-3b10-0000-000000000000</groupId>
                <id>bf4330e0-1a03-3a40-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processors>
            <id>171ddd2d-2592-3c1b-0000-000000000000</id>
            <parentGroupId>1d2b4c3a-a06e-3b10-0000-000000000000</parentGroupId>
            <position>
                <x>520.0</x>
                <y>456.0</y>
            </position>
            <bundle>
                <artifact>nifi-influxdb-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>influxdb-dbname</key>
                        <value>
                            <name>influxdb-dbname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-url</key>
                        <value>
                            <name>influxdb-url</name>
                        </value>
                    </entry>
                    <entry>
                        <key>InfluxDB Max Connection Time Out (seconds)</key>
                        <value>
                            <name>InfluxDB Max Connection Time Out (seconds)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-username</key>
                        <value>
                            <name>influxdb-username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-password</key>
                        <value>
                            <name>influxdb-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-charset</key>
                        <value>
                            <name>influxdb-charset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-consistency-level</key>
                        <value>
                            <name>influxdb-consistency-level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-retention-policy</key>
                        <value>
                            <name>influxdb-retention-policy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-max-records-size</key>
                        <value>
                            <name>influxdb-max-records-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>influxdb-dbname</key>
                        <value>puhatu</value>
                    </entry>
                    <entry>
                        <key>influxdb-url</key>
                        <value>http://172.17.65.93:8086</value>
                    </entry>
                    <entry>
                        <key>InfluxDB Max Connection Time Out (seconds)</key>
                        <value>2 seconds</value>
                    </entry>
                    <entry>
                        <key>influxdb-username</key>
                    </entry>
                    <entry>
                        <key>influxdb-password</key>
                    </entry>
                    <entry>
                        <key>influxdb-charset</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>influxdb-consistency-level</key>
                        <value>ONE</value>
                    </entry>
                    <entry>
                        <key>influxdb-retention-policy</key>
                        <value>autogen</value>
                    </entry>
                    <entry>
                        <key>influxdb-max-records-size</key>
                        <value>1 MB</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutInfluxDB</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure-max-size</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.influxdb.PutInfluxDB</type>
        </processors>
        <processors>
            <id>8627d0f8-51cb-3371-0000-000000000000</id>
            <parentGroupId>1d2b4c3a-a06e-3b10-0000-000000000000</parentGroupId>
            <position>
                <x>520.0</x>
                <y>216.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>
                            <name>Line-by-Line Evaluation Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>(?s)(^.*$)</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>${app_id},dev_id=${dev_id} hardware_serial="${hardware_serial}",port=${port},counter=${counter},is_retry=${is_retry},payload_raw="${payload_raw}",time="${time}",frequency=${frequency},modulation="${modulation}",data_rate="${data_rate}",airtime=${airtime},coding_rate="${coding_rate}",air_Pressure_mH2o=${air_Pressure_mH2O},air_Temp=${air_Temp},air_Temp_float=${air_Temp_float},batt=${batt},dist=${dist},gtw_id="${gtw_id}",gateway_timestamp=${gateway_timestamp},gateway_time="${gateway_time}",channel=${channel},rssi=${rssi},snr=${snr},rf_chain=${rf_chain}</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Always Replace</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Entire text</value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>All</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ReplaceText</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
            <id>8796ef78-bc86-3081-0000-000000000000</id>
            <parentGroupId>1d2b4c3a-a06e-3b10-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-mqtt-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Broker URI</key>
                        <value>
                            <name>Broker URI</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Client ID</key>
                        <value>
                            <name>Client ID</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Will Topic</key>
                        <value>
                            <name>Last Will Topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Will Message</key>
                        <value>
                            <name>Last Will Message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Will Retain</key>
                        <value>
                            <name>Last Will Retain</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Will QoS Level</key>
                        <value>
                            <name>Last Will QoS Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Session state</key>
                        <value>
                            <name>Session state</name>
                        </value>
                    </entry>
                    <entry>
                        <key>MQTT Specification Version</key>
                        <value>
                            <name>MQTT Specification Version</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout (seconds)</key>
                        <value>
                            <name>Connection Timeout (seconds)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Alive Interval (seconds)</key>
                        <value>
                            <name>Keep Alive Interval (seconds)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group ID</key>
                        <value>
                            <name>Group ID</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Topic Filter</key>
                        <value>
                            <name>Topic Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Quality of Service(QoS)</key>
                        <value>
                            <name>Quality of Service(QoS)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Queue Size</key>
                        <value>
                            <name>Max Queue Size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Broker URI</key>
                        <value>tcp://eu.thethings.network:1883</value>
                    </entry>
                    <entry>
                        <key>Client ID</key>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>puhatu</value>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Last Will Topic</key>
                    </entry>
                    <entry>
                        <key>Last Will Message</key>
                    </entry>
                    <entry>
                        <key>Last Will Retain</key>
                    </entry>
                    <entry>
                        <key>Last Will QoS Level</key>
                    </entry>
                    <entry>
                        <key>Session state</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>MQTT Specification Version</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Connection Timeout (seconds)</key>
                        <value>30</value>
                    </entry>
                    <entry>
                        <key>Keep Alive Interval (seconds)</key>
                        <value>60</value>
                    </entry>
                    <entry>
                        <key>Group ID</key>
                    </entry>
                    <entry>
                        <key>Topic Filter</key>
                        <value>+/devices/+/up</value>
                    </entry>
                    <entry>
                        <key>Quality of Service(QoS)</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Max Queue Size</key>
                        <value>1000</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConsumeMQTT</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Message</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.mqtt.ConsumeMQTT</type>
        </processors>
        <processors>
            <id>922970e4-abf7-3987-0000-000000000000</id>
            <parentGroupId>1d2b4c3a-a06e-3b10-0000-000000000000</parentGroupId>
            <position>
                <x>1088.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.0</version>
            </bundle>
            <config>
                <bulletinLevel>NONE</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>argumentsStrategy</key>
                        <value>
                            <name>argumentsStrategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>
                            <name>Command Arguments</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Command Path</key>
                        <value>
                            <name>Command Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore STDIN</key>
                        <value>
                            <name>Ignore STDIN</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                        <value>
                            <name>Working Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>
                            <name>Argument Delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Destination Attribute</key>
                        <value>
                            <name>Output Destination Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Attribute Length</key>
                        <value>
                            <name>Max Attribute Length</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>argumentsStrategy</key>
                        <value>Command Arguments Property</value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>${app_id};${dev_id};${hardware_serial};${port};${counter};${is_retry};${payload_raw};${air_Pressure_mH2O};${air_Temp};${air_Temp_float};${batt};${dist};${time};${frequency};${modulation};${data_rate};${airtime};${coding_rate};${gtw_id};${gateway_timestamp};${gateway_time};${channel};${rssi};${snr};${rf_chain}
</value>
                    </entry>
                    <entry>
                        <key>Command Path</key>
                        <value>/tmp/store.sh</value>
                    </entry>
                    <entry>
                        <key>Ignore STDIN</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                        <value>/tmp/</value>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>;</value>
                    </entry>
                    <entry>
                        <key>Output Destination Attribute</key>
                    </entry>
                    <entry>
                        <key>Max Attribute Length</key>
                        <value>256</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExecuteStreamCommand</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>nonzero status</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>output stream</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
        </processors>
        <processors>
            <id>bf4330e0-1a03-3a40-0000-000000000000</id>
            <parentGroupId>1d2b4c3a-a06e-3b10-0000-000000000000</parentGroupId>
            <position>
                <x>520.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>air_Pressure_mH2O</key>
                        <value>
                            <name>air_Pressure_mH2O</name>
                        </value>
                    </entry>
                    <entry>
                        <key>air_Temp</key>
                        <value>
                            <name>air_Temp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>air_Temp_float</key>
                        <value>
                            <name>air_Temp_float</name>
                        </value>
                    </entry>
                    <entry>
                        <key>airtime</key>
                        <value>
                            <name>airtime</name>
                        </value>
                    </entry>
                    <entry>
                        <key>app_id</key>
                        <value>
                            <name>app_id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>batt</key>
                        <value>
                            <name>batt</name>
                        </value>
                    </entry>
                    <entry>
                        <key>channel</key>
                        <value>
                            <name>channel</name>
                        </value>
                    </entry>
                    <entry>
                        <key>coding_rate</key>
                        <value>
                            <name>coding_rate</name>
                        </value>
                    </entry>
                    <entry>
                        <key>counter</key>
                        <value>
                            <name>counter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>data_rate</key>
                        <value>
                            <name>data_rate</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dev_id</key>
                        <value>
                            <name>dev_id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dist</key>
                        <value>
                            <name>dist</name>
                        </value>
                    </entry>
                    <entry>
                        <key>frequency</key>
                        <value>
                            <name>frequency</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gateway_time</key>
                        <value>
                            <name>gateway_time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gateway_timestamp</key>
                        <value>
                            <name>gateway_timestamp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gtw_id</key>
                        <value>
                            <name>gtw_id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hardware_serial</key>
                        <value>
                            <name>hardware_serial</name>
                        </value>
                    </entry>
                    <entry>
                        <key>is_retry</key>
                        <value>
                            <name>is_retry</name>
                        </value>
                    </entry>
                    <entry>
                        <key>modulation</key>
                        <value>
                            <name>modulation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>payload_raw</key>
                        <value>
                            <name>payload_raw</name>
                        </value>
                    </entry>
                    <entry>
                        <key>port</key>
                        <value>
                            <name>port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rf_chain</key>
                        <value>
                            <name>rf_chain</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rssi</key>
                        <value>
                            <name>rssi</name>
                        </value>
                    </entry>
                    <entry>
                        <key>snr</key>
                        <value>
                            <name>snr</name>
                        </value>
                    </entry>
                    <entry>
                        <key>time</key>
                        <value>
                            <name>time</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>air_Pressure_mH2O</key>
                        <value>$.payload_fields.air_Pressure_mH2o</value>
                    </entry>
                    <entry>
                        <key>air_Temp</key>
                        <value>$.payload_fields.air_Temp</value>
                    </entry>
                    <entry>
                        <key>air_Temp_float</key>
                        <value>$.payload_fields.air_Temp_float</value>
                    </entry>
                    <entry>
                        <key>airtime</key>
                        <value>$.metadata.airtime</value>
                    </entry>
                    <entry>
                        <key>app_id</key>
                        <value>$.app_id</value>
                    </entry>
                    <entry>
                        <key>batt</key>
                        <value>$.payload_fields.batt</value>
                    </entry>
                    <entry>
                        <key>channel</key>
                        <value>$.metadata.gateways[0].channel</value>
                    </entry>
                    <entry>
                        <key>coding_rate</key>
                        <value>$.metadata.coding_rate</value>
                    </entry>
                    <entry>
                        <key>counter</key>
                        <value>$.counter</value>
                    </entry>
                    <entry>
                        <key>data_rate</key>
                        <value>$.metadata.data_rate</value>
                    </entry>
                    <entry>
                        <key>dev_id</key>
                        <value>$.dev_id</value>
                    </entry>
                    <entry>
                        <key>dist</key>
                        <value>$.payload_fields.dist</value>
                    </entry>
                    <entry>
                        <key>frequency</key>
                        <value>$.metadata.frequency</value>
                    </entry>
                    <entry>
                        <key>gateway_time</key>
                        <value>$.metadata.gateways[0].time</value>
                    </entry>
                    <entry>
                        <key>gateway_timestamp</key>
                        <value>$.metadata.gateways[0].timestamp</value>
                    </entry>
                    <entry>
                        <key>gtw_id</key>
                        <value>$.metadata.gateways[0].gtw_id</value>
                    </entry>
                    <entry>
                        <key>hardware_serial</key>
                        <value>$.hardware_serial</value>
                    </entry>
                    <entry>
                        <key>is_retry</key>
                        <value>$.is_retry</value>
                    </entry>
                    <entry>
                        <key>modulation</key>
                        <value>$.metadata.modulation</value>
                    </entry>
                    <entry>
                        <key>payload_raw</key>
                        <value>$.payload_raw</value>
                    </entry>
                    <entry>
                        <key>port</key>
                        <value>$.port</value>
                    </entry>
                    <entry>
                        <key>rf_chain</key>
                        <value>$.metadata.gateways[0].rf_chain</value>
                    </entry>
                    <entry>
                        <key>rssi</key>
                        <value>$.metadata.gateways[0].rssi</value>
                    </entry>
                    <entry>
                        <key>snr</key>
                        <value>$.metadata.gateways[0].snr</value>
                    </entry>
                    <entry>
                        <key>time</key>
                        <value>$.metadata.time</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
    </snippet>
    <timestamp>09/21/2020 12:43:24 UTC</timestamp>
</template>
